# Jupyter notebook
ipykernel # Notebooks won't work without it

# GUI
ipywidgets
matplotlib # Plotting. Duh.

# Core
astral # Astronomy calculations for sun and moon
pytz # Timezone management. TODO: check if needed

# Images
pathvalidate # Make sure place names don't ruin file names
